body 
{
	background-color: #f4f3f6;
}

div
{
	width: 400px;
	margin: 50px auto;
	text-align: center;
}
@media only screen and (max-width: 480px) {
	div
	{
		width: 95%;
	}
}

img.profile
{
	margin: 0 0 20px 0;
	width: 100px;
	height: auto;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
}

h1
{
	font-family: "freight-sans-pro";
	font-weight: 500;
	font-style: normal;
	color: #404849;
	margin: 0;
	font-size: 60px;
	line-height: 60px;
}

h2
{
	font-family: "freight-sans-pro";
	font-weight: 400;
	font-style: normal;
	color: #7f8c8d;
	font-size: 22px;
	line-height: 40px;
	margin: 0 0 10px 0;
}

a
{
	text-decoration: none;
}

img.icon
{
	width: 32px;
	height: auto;
	margin: 0 10px 0 10px;

	transition: opacity 0.5s;
	-webkit-transition: opacity 0.5s;
}

img.icon:hover
{
	opacity: 0.6;
}
